html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background: #ccd;
}

a { color: #700; }
a:visited { color: #611; }
a:active { color: #900; }

.container {
    width: 75%;
    margin: 4em auto;
    padding: 0px;
    border-radius: 2em;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    background: white;
}

.container h1 {
    margin: 0px 0px 0.2ex;
    padding: 1ex 1ex 0.2ex;
    border-bottom: solid #ccc 1px;
    background: #ffe;
    border-radius: 2em 2em 0px 0px;
}

.container >div {
    padding: 2ex;
}

ul.form {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.form li {
    margin: 0px;
    padding: 0px 0px 1ex;
}

#name {
    width: 100%;
    display: block;
}

#description {
    display: block;
    width: 100%;
}

#interval {
    width: 3em;
}

p.back a {
    position: absolute;
    bottom: 0px;
    border-top: solid black 1px;
    color: black;
    background: #ffd;
    font-style: italic;
    width: 100%;
    text-decoration: none;
}

#feedinfo a.feed {
    font-family: "Lucida Console", Courier, "Courier New", monospace;
}

#feedinfo dt {
    font-weight: bold;
}

#feedinfo dd {
    margin-bottom: 1ex;
}

.required {
    color: #900;
    font-style: italic;
}

.error {
    background: #fee;
    padding: 1ex;
    border-bottom: dashed black 1px;
    margin-bottom: 1em;
}

.error span, .error li {
    font-weight: bold;
}

label {
    font-weight: bold;
}
